html, body {
  height: 100%;
  font-size: 15px;
  line-height: 1.25em;
}
#svgWrapper {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.allTheLists {
  display: flex;
  align-items: stretch;
  min-height: 100%;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}
.nodes {
  min-width: 145px;
  flex-basis: 12.5%;
  display: flex;
  flex-direction: column;
}
.nodes__header {
  height: 135px;
  padding: 10px;
}
.nodes__header h2 {
  margin-bottom: 10px;
  min-height: 3.75em;
}
.nodes__header p {
  font-style: italic;
}
.nodes__list {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
  padding: 20px 0;
  min-height: 420px;
}
.node {
  border-radius: 10px;
  padding: 5px 10px;
  background: rgba(250, 250, 250, 0.9);
  box-shadow: 0px 0px 10px 2px rgba(250, 250, 250, 0.9);
  transition: background .25s;
  font-family: sans-serif;
  font-weight: 100;
}
.node:hover {
  background: rgb(250, 250, 250);
  cursor: crosshair;
}
.node.down {
  background: lightblue;
}
.node.closest {
  background: rgba(255, 200, 135, 0.9);
}
.node.over {
  background: rgba(255, 135, 200, 0.9);
}
body.mouseDown {
  cursor: ew-resize;
}
